{% extends "layout.html" %}
{% block content %}
    <h1>Jobs</h1>
    
    <div class="row mb-3">
        <div class="col-md-6">
            <form action="/jobs" method="GET" class="d-flex">
                <input type="text" name="caregiving_type" class="form-control me-2" placeholder="Filter by Caregiving Type">
                <button type="submit" class="btn btn-outline-success">Search</button>
            </form>
        </div>
        <div class="col-md-6 text-end">
            <a href="/jobs/create" class="btn btn-primary">Post a Job</a>
            <a href="/my_applications" class="btn btn-info">My Applications</a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Requirements</th>
                <th>Date Posted</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ job.job_id }}</td>
                <td>{{ job.required_caregiving_type }}</td>
                <td>{{ job.other_requirements }}</td>
                <td>{{ job.date_posted }}</td>
                <td>
                    <form action="/jobs/{{ job.job_id }}/apply" method="POST" class="d-flex">
                        <button type="submit" class="btn btn-sm btn-success">Apply</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
